<div class="container d-flex flex-column align-center justify-center gap-5" 
style="height: 100vh; width: 100%;"
*ngIf="!isOwner && !isEmployee">
  <h1>Which option best describes you?</h1>
  <div class="d-flex align-center justify-between gap-5">
    <div
    (click)="selected = 'owner'"
    class="card p-5 d-flex flex-column align-center justify-center gap-4 cursor-pointer"
    [class.selected]="selected === 'owner'"
    >
      <h4>Agency owner</h4>
      <p class="text-center">I want to create a new account for my agency</p>
      <div class="select d-flex align-center justify-center p-1" [class.selected]="selected === 'owner'">
        <span *ngIf="selected === 'owner'">
          <!-- <fa-icon icon="faCheck"></fa-icon> -->
          <fa-icon [icon]="faCheck" class="light"></fa-icon>
        </span>
      </div>
    </div>
    <div
    (click)="selected = 'employee'"
    class="card p-5 d-flex flex-column align-center justify-center gap-4 cursor-pointer"
    [class.selected]="selected === 'employee'"
    >
      <h4>Agency employee</h4>
      <p class="text-center">I want to join an agency with invitation code</p>
      <div class="select d-flex align-center justify-center p-1" [class.selected]="selected === 'employee'">
        <span *ngIf="selected === 'employee'">
          <fa-icon [icon]="faCheck" class="light"></fa-icon>
        </span>
      </div>
    </div>
  </div>
  <button class="blue" (click)="confirmUserType()">Continue</button>
</div>

<div class="d-flex" style="height: 100vh; width: 100%;" *ngIf="isOwner || isEmployee">
  <div class="sidescreen" style="width: 30%;">
    <div class="header d-flex align-center justify-center gap-3" style="height: 10%;">
      <img src="../../../favicon.png" alt="logo" width="35px">
      <h2>Marklie</h2>
    </div>
    <div class="d-flex justify-end" style="height: 90%;">
      <!-- d-flex align-center justify-center -->
      <img src="../../../assets/img/onboarding_background.png" alt="Onborading picture">
    </div>
  </div>
  
  <div class="d-flex flex-column align-center justify-center" style="height: 100vh; width: 70%;">
    
    <div *ngIf="isOwner" class="d-flex flex-column justify-center gap-4" style="width: 60%;">
      
      <div class="d-flex flex-column gap-4">
  
        <div class="d-flex gap-3">
  
          <!-- style="width: 280px;" -->
          <div class="d-flex flex-column gap-2 width-100" >
            <label for="firstName">First name</label>
            <input id="firstName" type="text" class="text" [(ngModel)]="firstName" placeholder="First name">
          </div>
    
          <!-- style="width: 280px;" -->
          <div class="d-flex flex-column gap-2 width-100" >
            <label for="lastName">Last name</label>
            <input id="lastName" type="text" class="text" [(ngModel)]="lastName" placeholder="Last name">
          </div>
    
        </div>
    
        <div class="d-flex flex-column gap-2 width-100">
          <label for="agencyName">Agency name</label>
          <input id="agencyName" type="text" class="text" [(ngModel)]="agencyName" placeholder="Agency name">
        </div>
  
      </div>
  
      <div class="width-100 d-flex flex-column gap-2">
        <p>How many clients do you have?</p>
        <div class="d-flex gap-3 flex-wrap">
          <div 
          *ngFor="let clientRange of clientsRanges"
          class="option" 
          (click)="clientsAmount = clientRange.value"
          [class.selected]="clientsAmount === clientRange.value"
          >{{clientRange.label}}</div>
        </div>
      </div>
  
      <div class="width-100 d-flex flex-column gap-2"
      style="opacity: 0; pointer-events: none; transition: opacity 0.3s ease-in-out;"
      [class.show]="clientsAmount"
      >
        <p>Where do you advertise?</p>
        <div class="d-flex gap-3 flex-wrap">
          <div 
          *ngFor="let advertisingPlatform of advertisingPlatforms"
          class="option" 
          (click)="advertisingPlatform.selected = !advertisingPlatform.selected"
          [class.selected]="advertisingPlatform.selected"
          >{{advertisingPlatform.name}}</div>
  
          <div class="option"
          (click)="otherAdvertisingPlatformSelected = !otherAdvertisingPlatformSelected"
          [class.selected]="otherAdvertisingPlatformSelected"
          >Other</div>
  
          <div class="d-flex flex-column gap-2" 
          style="opacity: 0; transition: opacity 0.3s ease-in-out; width: 200px;"
          [class.show]="otherAdvertisingPlatformSelected"
          >
            <input id="otherAdvertisingPlatform" type="text" class="text" [(ngModel)]="otherAdvertisingPlatform" placeholder="Other">
          </div>
        </div>
      </div>
  
      <div class="width-100 d-flex flex-column gap-2"
      style="opacity: 0; pointer-events: none; transition: opacity 0.3s ease-in-out;"
      [class.show]="clientsAmount && getSelectedAdvertisingPlatforms().length > 0"
      >
        <p>How do you communicate with your clients?</p>
        <div class="d-flex gap-3 flex-wrap">
          <div 
          *ngFor="let communicationPlatform of communicationPlatforms"
          class="option" 
          (click)="communicationPlatform.selected = !communicationPlatform.selected"
          [class.selected]="communicationPlatform.selected"
          >{{communicationPlatform.name}}</div>
  
          <div class="option"
          (click)="otherCommunicationPlatformSelected = !otherCommunicationPlatformSelected"
          [class.selected]="otherCommunicationPlatformSelected"
          >Other</div>
  
          <div class="d-flex flex-column gap-2" 
          style="opacity: 0; transition: opacity 0.3s ease-in-out; width: 200px;"
          [class.show]="clientsAmount && getSelectedAdvertisingPlatforms().length > 0 &&otherCommunicationPlatformSelected"
          >
            <input id="otherCommunicationPlatform" type="text" class="text" [(ngModel)]="otherCommunicationPlatform" placeholder="Other">
          </div>
        </div>
      </div>

      <div class="width-100 d-flex flex-column gap-2"
      style="opacity: 0; pointer-events: none; transition: opacity 0.3s ease-in-out;"
      [class.show]="
      clientsAmount && 
      getSelectedAdvertisingPlatforms().length > 0 &&
      getSelectedCommunicationPlatforms().length > 0"
      >
        <p>How did you find out about us?</p>
        <div class="d-flex gap-3 flex-wrap">
          <div 
          *ngFor="let foundOutOption of foundOuts"
          class="option" 
          (click)="toggleFoundOut(foundOutOption)"
          [class.selected]="foundOut === foundOutOption && !otherFoundOutSelected"
          >{{foundOutOption}}</div>

          <div class="option"
          (click)="otherFoundOutSelected = true"
          [class.selected]="otherFoundOutSelected"
          >Other</div>

          <div class="d-flex flex-column gap-2" 
          style="opacity: 0; transition: opacity 0.3s ease-in-out; width: 200px;"
          [class.show]="otherFoundOutSelected"
          >
            <input id="otherFoundOut" type="text" class="text" [(ngModel)]="otherFoundOut" placeholder="Other">
          </div>
        </div>
      </div>

      <div class="d-flex justify-between">
        <button class="subtle" (click)="this.isOwner = false">Go back</button>
        <button class="blue" (click)="finishOwnerOnboarding()"
        style="opacity: 0; pointer-events: none; transition: opacity 0.3s ease-in-out;"
        [class.show]="clientsAmount && 
        getSelectedAdvertisingPlatforms().length > 0 &&
        getSelectedCommunicationPlatforms().length > 0 &&
        getFoundOut()"
        >Continue</button>
      </div>
    
    </div>
  
    <div class="d-flex flex-column align-center justify-center gap-4" *ngIf="isEmployee">
      <h1>Welcome!</h1>
      <div class="d-flex gap-3">
  
        <!-- style="width: 280px;" -->
        <div class="d-flex flex-column gap-2" >
          <label for="firstName">First name</label>
          <input id="firstName" type="text" class="text" [(ngModel)]="firstName" placeholder="First name">
        </div>
  
        <!-- style="width: 280px;" -->
        <div class="d-flex flex-column gap-2" >
          <label for="lastName">Last name</label>
          <input id="lastName" type="text" class="text" [(ngModel)]="lastName" placeholder="Last name">
        </div>
  
      </div>
      <!-- style="width: 280px;" -->
      <div class="d-flex flex-column gap-2 width-100">
        <label for="inviteCode">Invitation code</label>
        <input id="inviteCode" type="text" class="text" [(ngModel)]="inviteCode" placeholder="Invitation code">
      </div>

      <div class="d-flex justify-between width-100">
        <button class="subtle" (click)="this.isEmployee = false">Go back</button>
        <button class="blue" (click)="finishEmployeeOnboarding()"
        style="opacity: 0; pointer-events: none; transition: opacity 0.3s ease-in-out;"
        [class.show]="firstName && lastName && inviteCode"
        >Let's start</button>
      </div>
      
    </div>

  </div>
</div>
