
<div #sectionsGridContainer>
  <div 
  *ngFor="let section of reportSections; let i = index" 
  class="report-section p-3 mb-4" 
  
  >


    <ng-container *ngIf="section.enabled && data">
      <div class="section-title">
        {{ section.title }}
      </div>

      <ng-container [ngSwitch]="section.key">
        
        <div *ngSwitchCase="'kpis'" class="kpi-grid" #kpiGridContainer>
          <ng-container *ngFor="let metric of section.metrics">
            <kpi-card 
            [style.display]="metric.enabled ? 'block' : 'none'"
            [metric]="metric" 
            [value]="data.KPIs[metric.name]"
            ></kpi-card>
          </ng-container>
        </div>

        <charts
        *ngSwitchCase="'graphs'"
        [data]="data"
        [reportSections]="reportSections"
        ></charts>

        <ad-card
        *ngSwitchCase="'ads'"
        [reportSections]="reportSections"
        [ads]="data.ads"
        ></ad-card>

        <div *ngSwitchCase="'campaigns'" class="table-container">

          <campaign-table
          [reportSections]="reportSections"
          [campaigns]="data.campaigns"
          ></campaign-table>
        </div>
        
      </ng-container>
      

    </ng-container>

  </div>
</div>
