<div *ngFor="let section of reportSections; let i = index"  class="report-section p-3 mb-4">
  <!-- cdkDrag -->
  <ng-container *ngIf="panelToggles && panelToggles[section.key] && mockData">

    <div class="section-toggle">
      <label>{{ section.title }}</label>
    </div>

    <ng-container [ngSwitch]="section.key">

      <div *ngSwitchCase="'kpis'" class="kpi-grid" cdkDropList (cdkDropListDropped)="dropKPICard($event)">
        <ng-container *ngFor="let metric of section.metrics">
          <kpi-card 
          cdkDrag
          *ngIf="metricSelections && metricSelections.kpis[metric]" 
          [metric]="metric" 
          [value]="mockData.KPIs[metric]"
          ></kpi-card>
        </ng-container>
      </div>

      <charts
      *ngSwitchCase="'graphs'"
      [data]="mockData"
      [metricSelections]="metricSelections"
      ></charts>

      <ad-card
      *ngSwitchCase="'ads'"
      [metrics]="section.metrics"
      [metricSelections]="metricSelections"
      [ads]="mockData.ads"
      ></ad-card>

      <!-- <div *ngSwitchCase="'ads'" class="ad-grid d-flex flex-wrap">

        <ad-card
        *ngFor="let ad of mockData.ads"
        [thumbnail]="ad.thumbnailUrl"
        [metrics]="section.metrics"
        [metricSelections]="metricSelections"
        [sourceUrl]="ad.sourceUrl"
        [ad]="ad"
        ></ad-card>

      </div> -->

      <div *ngSwitchCase="'campaigns'" class="table-container">

        <campaign-table
        [campaignColumnOrder]="campaignColumnOrder"
        [campaigns]="mockData.campaigns"
        ></campaign-table>
      </div>
      
    </ng-container>

  </ng-container>

</div>