
<div 

style="background-color: #fff; box-shadow: var(--box-shadow);
    border: var(--block-border); margin-bottom: 50px;"
class="p-5"
>

  <div class="d-flex justify-between mb-5">
    <div class="d-flex">

      <!-- <img
        (click)="getImage('client')"
        class="cursor-pointer"
        style="object-fit: contain; width: 100px; height: 100px;"
        [src]="this.clientImageUrl()" alt="Client Logo"> -->
      
      @if (clientImageUrl()) {
        <img
        (click)="getImage('client', clientImageGsUri())"
        class="cursor-pointer"
        style="object-fit: contain; width: 100px; height: 100px;"
        [src]="clientImageUrl()" alt="Client Logo">
      }
      @else {
        <div class="d-flex justify-center align-center" style="width: 100px; height: 100px;">
          <button (click)="getImage('client')">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      }
    </div>
    <div class="d-flex flex-column">
      <div class="text-center">
        <h2>{{reportTitle}}</h2>
      </div>
      <div class="text-center" *ngIf="selectedDatePresetText">
        <h4 >{{selectedDatePresetText}}</h4>
      </div>
    </div>
    <div class="d-flex">
      @if (agencyImageUrl()) {
        <img
        (click)="getImage('agency', agencyImageGsUri())"
        class="cursor-pointer"
        style="object-fit: contain; width: 100px; height: 100px;"
        [src]="agencyImageUrl()" alt="Agency Logo">
      }
      @else {
        <div class="d-flex justify-center align-center" style="width: 100px; height: 100px;">
          <button (click)="getImage('agency')">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>
      }
    </div>
  </div>

  <div #sectionsGridContainer>
    <div 
    *ngFor="let section of reportSections; let i = index" 
    class="report-section mb-4"
    >
    
      <ng-container *ngIf="section.enabled && data">
        
        <div class="section-title mb-3">
          {{ section.title }}
        </div>

        <ng-container [ngSwitch]="section.key">
          
          <div *ngSwitchCase="'kpis'" class="kpi-grid" #kpiGridContainer>
            <ng-container *ngFor="let metric of section.metrics">
              <kpi-card 
              [style.display]="metric.enabled ? 'block' : 'none'"
              [metric]="metric" 
              [value]="data.KPIs[metric.name]"
              ></kpi-card>
            </ng-container>
          </div>

          <charts
          *ngSwitchCase="'graphs'"
          [data]="data"
          [reportSections]="reportSections"
          ></charts>

          <ad-card
          *ngSwitchCase="'ads'"
          [reportSections]="reportSections"
          [ads]="data.ads"
          ></ad-card>

          <div *ngSwitchCase="'campaigns'" class="table-container">
            <campaign-table
            [reportSections]="reportSections"
            [campaigns]="data.campaigns"
            ></campaign-table>
          </div>
          
        </ng-container>
        
      </ng-container>
    </div>
  </div>
  

</div>
