


<div class="landing-container">
  <div style="display: grid; grid-template-columns: 49% 45%; gap: 6%;" class="mt-7">
    <div class="d-flex flex-column align-start">
      <h1 [innerHTML]="headline" class=""></h1>
      <p class="subheadline mt-3" [innerHTML]="subheadline"></p>

      <div class="d-flex flex-column align-center justify-between mt-4">
        <button class="blue hero-section-cta d-flex align-center" 
        routerLink="/auth"
        >Get started <img width="15px" class="ml-2" src="https://www.svgrepo.com/show/410383/right-arrow.svg" style="filter: invert(1);"></button>
        <div class="no-credit-card mt-1">No credit card needed</div>
      </div>
      

      <div class="social-proof mt-5">Built for Agencies and Freelancers. Trusted by 100+ marketers.</div>
    </div>

    <div class="d-flex flex-column align-center">
      <img style="border-radius: 20px; box-shadow: 0 4px 6px 0 rgba(67, 46, 134, .04);
    border: 1px solid #8080803d; height: 310px;
    width: 500px;
    margin: 10px;" src="../../../assets/img/lanfding_pic.png" alt="">
    </div>

  </div>

</div>