<section class="features-section">
  <div class="landing-container features-section__content">
    <div class="features-section__heading">
      <heading-point-section
        titleLarge="Powerful features to boost your communication"
        titleSmall="Powerful features to boost your communication"
        subTitle="Features"
        description="30+ features to take your client communication to the next level."
      ></heading-point-section>
      <app-button variant="secondary" size="medium">
        <span>Discover all features</span>
      </app-button>
    </div>
    <div class="features-section__image-container">
      <img
        src="assets/img/features.png"
        alt="features"
        class="features-section__image"
      />
      <img
        src="assets/img/features-small.png"
        alt="features"
        class="features-section__image-small"
      />
    </div>
  </div>
</section>
