<footer class="landing-footer">
  <div class="landing-container">
    <div class="landing-footer__content">
      <div class="landing-footer__section">
        <div class="landing-footer__logo">
          <img src="assets/img/logo.png" alt="Marklie Logo" />
          <h3 class="landing-footer__logo-title">Marklie</h3>
        </div>
      </div>
    </div>

    <div class="landing-footer__bottom">
      <div class="landing-footer__legal">
        <p class="landing-footer__copyright">
          Copyright © 2025 by Marklie.com. All rights reserved.
        </p>
      </div>
      <div class="landing-footer__links">
        <a href="/privacy-policy" class="landing-footer__link"
          >Privacy Policy</a
        >
        <a href="/terms-of-service" class="landing-footer__link"
          >Terms of Service</a
        >
      </div>
    </div>
  </div>
</footer>
