<div *ngFor="let section of reportSections; let i = index" cdkDrag class="report-section p-3 block mb-4">
    <!-- bordered-section -->
    <div class="section-toggle">
      <label>{{ section.title }}</label>
        <!-- <label class="switch">
            <input type="checkbox" *ngIf="panelToggles" [(ngModel)]="panelToggles[section.key]" (change)="onPanelToggleChange()" />
            <span class="slider round"></span>
        </label> -->
    </div>

    <div *ngIf="panelToggles && panelToggles[section.key] && mockData">
        <!-- <div class="metric-group" cdkDropList [cdkDropListData]="section.metrics"
            (cdkDropListDropped)="dropMetric($event, i)">
            <div *ngFor="let metric of section.metrics; let j = index" cdkDrag>
            <label>
                <input type="checkbox" [(ngModel)]="metricSelections && metricSelections[section.key][metric]" (change)="section.key === 'graphs' ? onMetricSelectionChange() : log()"/>
                {{ formatMetricLabel(metric) }}
            </label>
            </div>
        </div> -->

      <ng-container [ngSwitch]="section.key">

        <div *ngSwitchCase="'kpis'" class="kpi-grid" cdkDropList (cdkDropListDropped)="dropKPICard($event)">
          <ng-container *ngFor="let metric of section.metrics">
            <div class="kpi-card" *ngIf="metricSelections && metricSelections.kpis[metric]" cdkDrag>
              <div class="kpi-label">{{ formatMetricLabel(metric) }}</div>
              <div class="kpi-value" [ngClass]="getMetricStyle(metric)">
                {{ formatMetricValue(metric, mockData.KPIs[metric]) }}
              </div>
            </div>
          </ng-container>
        </div>


        <div *ngSwitchCase="'graphs'" class="graph-grid" cdkDropList (cdkDropListDropped)="dropGraphCard($event)">
          <div class="graph-card" *ngFor="let config of metricsGraphConfig" cdkDrag>
            <canvas [id]="config.key + 'Chart'"></canvas>
          </div>
        </div>

        <div *ngSwitchCase="'ads'" class="ad-grid">
          <div class="ad-card" *ngFor="let ad of mockData.ads">
            <div class="ad-image-container">
              <img class="ad-media" [src]="ad.thumbnailUrl" [alt]="ad.name" />
            </div>
            <div class="metrics">
              <ng-container *ngFor="let key of section.metrics">
                <div class="metric" *ngIf="metricSelections && metricSelections.ads[key]">
                    <div class="metric-label">{{ formatMetricLabel(key) }}</div>
                    <div class="metric-value" [ngClass]="getMetricStyle(key)">
                      {{ formatMetricValue(key, ad[key]) }}
                    </div>
                </div>
              </ng-container>

            </div>
            <button (click)="openAd(ad.sourceUrl)" class="width-100">View Ad</button>
            <!-- <a target="_blank" [href]="ad.sourceUrl" class="view-ad-btn">View Ad</a> -->
          </div>
        </div>

        <div *ngSwitchCase="'campaigns'" class="table-container">
          <table class="campaign-table">
            <thead>
              <tr cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="dropCampaignColumn($event)">
                <th>#</th>
                <th>Campaign Name</th>
                <th *ngFor="let key of campaignColumnOrder" cdkDrag>
                  {{ formatMetricLabel(key) }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let campaign of mockData.campaigns; let k = index">
                <td>{{ k + 1 }}</td>
                <td>{{ campaign.campaign_name }}</td>
                <td *ngFor="let key of campaignColumnOrder">
                  {{ formatMetricValue(key, campaign[key]) }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </ng-container>
    </div>
</div>