<div class="dialog-wrapper">
  <form class="form-container d-flex flex-column align-center justify-center gap-3" (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <h2>Sign up for FREE</h2>

    <div class="input-group" [class.has-error]="submitted && emailError">
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        placeholder="✉️ Enter your work email"
        class="text"
        required
        [class.show-errors]="submitted"
      />
      <div class="error-message" *ngIf="submitted && emailError">{{ emailError }}</div>
    </div>

    <div class="input-group password-wrapper" [class.has-error]="submitted && passwordError">
      <input
        [type]="showPassword ? 'text' : 'password'"
        id="password"
        name="password"
        [(ngModel)]="password"
        placeholder="🔒 Enter password"
        class="text"
        required
        [class.show-errors]="submitted"
      />
      <div class="toggle-password" (click)="showPassword = !showPassword">
        <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
      </div>
      <div class="error-message" *ngIf="submitted && passwordError">{{ passwordError }}</div>
    </div>

    <button type="submit" class="blue">Sign up</button>

    <div class="cursor-pointer" (click)="toggleSignInMode()">Already have an account? Sign in</div>
  </form>
</div>
