
.logo {
    cursor: pointer;
}

.dashboard-header {
    display: flex;
    padding: 20px 32px;
    background: var(--block-color);
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    margin-top: 15px;
}

.mobile-dashboard-header {
    display: none;
}

@media (max-width: 768px) {
    .mobile-dashboard-header {
        display: flex;
    }

    .dashboard-header {
        display: none;
    }
}

.gap-20 {
    gap: 20px;
}