
<!-- <div class="container"> -->

    <div class="dashboard-header flex-row justify-between align-center">
        <div class="d-flex flex-row align-center gap-30">
            <div routerLink="/dashboard" class="logo"><img src="../../../favicon.png" alt="logo" width="40px"></div>
            <a routerLink="/dashboard">Dashboard</a>
            <a routerLink="/billing">Reports</a>
            <a routerLink="/billing">Activity</a>
            <a routerLink="/billing">Templates</a>
        </div>
        
       <div class="d-flex flex-row align-center gap-30">
        <!-- <div>👤</div> -->
        <a routerLink="/profile">Profile</a>
        <a (click)="signOut()">Sign out</a>
       </div>
    </div>

    <div class="mobile-dashboard-header flex-row justify-between align-center">
        <div>
            Saas
        </div>
        
        <nav>

        </nav>
    </div>

<!-- </div> -->

