
.logo {
    cursor: pointer;
}

.dashboard-header {
    display: flex;
    padding: 14px 20px;
    background: var(--block-color);
    border-radius: 20px;
    margin-top: 15px;
    // box-shadow: var(--box-shadow);

    box-shadow: 0 4px 6px 0 rgba(67, 46, 134, .04);
    border: 1px solid #8080803d;
}

.mobile-dashboard-header {
    display: none;
}

@media (max-width: 768px) {
    .mobile-dashboard-header {
        display: flex;
    }

    .dashboard-header {
        display: none;
    }
}

.gap-20 {
    gap: 20px;
}