<div class="config-step1 p-4" *ngIf="schedule">
    <h3>Report Schedule</h3>

    <div class="form-row">
      <label>Date Preset:</label>
      <select class="form-control" [(ngModel)]="selectedDatePreset">
        <option *ngFor="let preset of DATE_PRESETS" [value]="preset.value">
          {{ preset.text }}
        </option>
      </select>
    </div>


    <div class="form-row">
      <label>Schedule Frequency:</label>
      <select class="form-control" [(ngModel)]="schedule.frequency">
        <option value="weekly">Weekly</option>
        <option value="biweekly">Biweekly</option>
        <option value="monthly">Monthly</option>
        <option value="custom">Custom</option>
        <option value="cron">Cron</option>
      </select>
    </div>


    <div class="form-row" *ngIf="['weekly', 'biweekly'].includes(schedule.frequency)">
      <label>Day of Week:</label>
      <select class="form-control" [(ngModel)]="schedule.dayOfWeek">
        <option *ngFor="let day of DAYS_OF_WEEK" [value]="day">{{ day }}</option>
      </select>
    </div>

    <div class="form-row" *ngIf="schedule.frequency === 'monthly'">
      <label>Day of Month:</label>
      <input type="number" class="form-control" [(ngModel)]="schedule.dayOfMonth" min="1" max="31" />
    </div>

    <div class="form-row" *ngIf="schedule.frequency === 'custom'">
      <label>Every X Days:</label>
      <input type="number" class="form-control" [(ngModel)]="schedule.intervalDays" min="1" />
    </div>

    <div class="form-row" *ngIf="schedule.frequency === 'cron'">
      <label>Cron Expression:</label>
      <input type="text" class="form-control" [(ngModel)]="schedule.cronExpression" />
    </div>

    <div class="form-row" *ngIf="schedule.frequency !== 'cron'">
      <label>Time:</label>
      <input type="time" class="form-control" [(ngModel)]="schedule.time" step="300" />
    </div>


    <i class="fa-light fa-question"></i>
    <div class="form-row d-flex align-items-center">
      <label for="reviewBeforeSend" class="mb-0">
        Require review before sending
        <i
          class="fa-solid fa-question"
          title="You will be notified to review the generated report before it’s sent to the client."
          style="cursor: pointer; position: relative; top: -5px;"
        ></i>
      </label>
      <input
        type="checkbox"
        id="reviewBeforeSend"
        [(ngModel)]="schedule.reviewNeeded"
        class="me-2 ms-2"
      />
    </div>

    <button class="btn btn-success" (click)="saveConfiguration()">Save Configuration</button>
  </div>