<modal-base>
  <!-- <h3>Add client</h3> -->
<div>
    <h3>Report configuration</h3>

    <div class="d-flex flex-column gap-4 pl-5 pr-5 mt-5" *ngIf="!messagesWindowOpen">

      <div class="d-flex justify-between">
        <label>Schedule Frequency</label>
        <select class="select-default form-control" [(ngModel)]="data.frequency">
          <option value="weekly">Weekly</option>
          <option value="biweekly">Biweekly</option>
          <option value="monthly">Monthly</option>
          <option value="custom">Custom</option>
          <option value="cron">Cron</option>
        </select>
      </div>


      <div class="d-flex justify-between" *ngIf="['weekly', 'biweekly'].includes(data.frequency)">
        <label>Day of Week</label>
        <select class="select-default form-control" [(ngModel)]="data.dayOfWeek">
          <option *ngFor="let day of reportsDataService.DAYS_OF_WEEK" [value]="day">{{ day }}</option>
        </select>
      </div>

      <div class="d-flex justify-between" *ngIf="data.frequency === 'monthly'">
        <label>Day of Month</label>
        <input type="number" class="text" [(ngModel)]="data.dayOfMonth" min="1" max="31" />
      </div>

      <div class="d-flex justify-between" *ngIf="data.frequency === 'custom'">
        <label>Every X Days</label>
        <input type="number" class="text" [(ngModel)]="data.intervalDays" min="1" />
      </div>

      <div class="d-flex justify-between" *ngIf="data.frequency === 'cron'">
        <label>Cron Expression</label>
        <input type="text" class="text" [(ngModel)]="data.cronExpression" />
      </div>

      <div class="d-flex justify-between" *ngIf="data.frequency !== 'cron'">
        <label>Time</label>
        <input type="time" class="text" [(ngModel)]="data.time" step="300" />
      </div>

      <div class="d-flex justify-between" *ngIf="['weekly', 'biweekly'].includes(data.frequency)">
        <label>Review needed</label>
        <select class="select-default form-control" [(ngModel)]="data.reviewRequired">
          <option [ngValue]="true">Yes</option>
          <option [ngValue]="false">No</option>
        </select>
      </div>


      <!-- <div class="toggle-container w-100">
        <div class="toggle-button active p-2" [class.active]="data.reviewNeeded" (click)="data.reviewNeeded = true" >Review report before sending to client</div>
        <div class="toggle-button p-2" [class.active]="!data.reviewNeeded" (click)="data.reviewNeeded = false" >Send report automatically to client without review</div>
      </div> -->

      <div class="d-flex justify-end gap-2 mt-5">
        <!-- <button class="" (click)="saveConfiguration()">Cancel</button> -->
        <button class="blue" (click)="messagesWindowOpen = true">Next</button>
      </div>

    </div>

    <div *ngIf="messagesWindowOpen">
      <messages-accordion [(messages)]="data.messages"></messages-accordion> 

      <div class="d-flex justify-between gap-2 mt-5">
        <!-- <button class="" (click)="saveConfiguration()">Cancel</button> -->
        <button  (click)="messagesWindowOpen = false">Back</button>
        <button class="blue" (click)="save()">Save</button>
      </div>
    </div>




  </div>
</modal-base>
