<div class="notifications-container">
  @for (n of notifications; track n.id) {
    <div #item class="notification p-4" [attr.data-id]="n.id" [ngClass]="'notification--' + n.type" [class.slide-out]="n.isHiding">
      <div class="notification__content">
        <p class="notification__message">{{ n.message }}</p>
        <div 
            class="d-flex align-center justify-center cursor-pointer"
            style="
            position: absolute;
            top: 16px;
            right: 16px;
            width: 24px;
            height: 24px;
            "
            (click)="close(n.id)">
            ✕
        </div>
      </div>
    </div>
  }
</div>

