<div class="d-flex justify-between p-5">
    <div class="d-flex">
      @if (clientImageUrl()) {
        <img
        (click)="!isViewMode() ? getImage('client', clientImageGsUri()) : null"
        [class.cursor-pointer]="!isViewMode()"
        style="object-fit: contain; width: 100px; height: 100px;"
        [src]="clientImageUrl()" alt="Client Logo">
      }
      @else {
        @if (!isViewMode()) {
          <div (click)="getImage('client')" 
          class="cursor-pointer"
          style="width: 100px; height: 100px; background-color: transparent; border: 2px dashed rgba(240, 244, 249, 1); border-radius: 10px; display: flex; justify-content: center; align-items: center;">
            <h4>Logo</h4>
          </div>
        }
      }
    </div>
    <div class="d-flex flex-column">
      <div class="text-center">
        <h2>{{reportTitle()}}</h2>
      </div>
      <div class="text-center" *ngIf="selectedDatePresetText()">
        <h4 >{{selectedDatePresetText()}}</h4>
      </div>
    </div>
    <div class="d-flex">
      @if (agencyImageUrl()) {
        <img
        (click)="!isViewMode() ? getImage('agency', agencyImageGsUri()) : null"
        [class.cursor-pointer]="!isViewMode()"
        style="object-fit: contain; width: 100px; height: 100px;"
        [src]="agencyImageUrl()" alt="Agency Logo">
      }
      @else {
        @if (!isViewMode()) {
          <div (click)="getImage('agency')" 
          class="cursor-pointer"
          style="width: 100px; height: 100px; background-color: transparent; border: 2px dashed rgba(240, 244, 249, 1); border-radius: 10px; display: flex; justify-content: center; align-items: center;">
            <h4>Logo</h4>
          </div>
        }
      }
    </div>
</div>