
.password-wrapper {
  width: 280px;
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 100%;
  }

  .toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    user-select: none;
  }
}