<section class="landing-container templates-delivery-section">
  <div class="templates-delivery-section__content">
    <heading-with-button
      title="Easy set up with 30+ <br/> templates"
      description="<span class='highlight'>Get started instantly, </span><br/> whether you’re onboarding  one client or a hundred."
      buttonText="Connect my clients"
      buttonLink="/automatic-delivery"
    ></heading-with-button>
  </div>

  <img
    src="assets/img/templates-delivery.png"
    alt="templates delivery"
    class="templates-delivery-section__image"
  />
</section>
