
.graph-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px;
}
.graph-card canvas {
  width: 100% !important;
  height: 180px !important;
  object-fit: contain;
}

.graph-card {
  background: #ffffff;
  padding: 12px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  border: var(--block-border);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: auto; // ensure no unintended stretch
}


