<div class="block-header">
  <h3 class="block-header__title">Activity</h3>
  <a class="block-header__link" [routerLink]="['/activity']">See all activity ↗</a>
</div>
  <table class="activity__table">
    <thead>
    <tr>
      <th class="activity__dot-cell"></th>
      <th>Date</th>
      @if (level === 'organization') {
        <th class="activity__client">Client name</th>
      }
      <th>Activity</th>
    </tr>
    </thead>
    <tbody>
      @for (log of groupedLogs; track log.createdAt) {
        @if (!(log.action === 'client_created' && level !== 'organization')) {
          <tr
            class="activity__row"
            (click)="navigateToLog(log)"
            [class.activity__row--clickable]="!!getRoute(log)"
          >
            <td class="activity__dot-cell">
            <span
              [class.activity__dot--visible]="isNew(log)"
              class="activity__dot"
            ></span>
          </td>

          <td class="activity__date">
            {{ formatTimeOrDate(log.createdAt) }}
          </td>

          @if (level === 'organization') {
            <td class="activity__client">
              {{ log.client?.name || log.metadata.name || '-' }}
            </td>
          }

          <td class="activity__activity">
            @switch (log.action) {
              @case ('report_sent') {
                {{ log.metadata.reportName || 'Report' }}
                has been sent
              }

              @case ('report_generated') {
                {{ log.metadata.reportName || 'Report' }}
                has been generated
              }

              @case ('created_schedule') {
                Schedule created
              }

              @case ('updated_schedule') {
                Schedule updated
              }

              @case ('paused_schedule') {
                Schedule paused
              }

              @case ('added_collaborator') {
                Collaborator added
              }

              @case ('client_created') {
                @if (level === 'organization') {
                  Client added to the platform
                }
              }

              @default {
                {{ log.message || 'Activity logged' }}
              }
            }
          </td>
        </tr>
      }
      }
    </tbody>
  </table>
</div> -->

<div class="table">

  <div class="header d-flex align-center d-flex pb-3 pl-4 pr-4">
    <div style="width: 5%; color: #333333cb !important;"></div>
    <div style="width: 20%; color: #333333cb !important;">Date</div>
    <div style="width: 25%; color: #333333cb !important;" class="d-flex align-center justify-center" *ngIf="level === 'organization'">Client name</div>
    <div style="color: #333333cb !important;" class="d-flex align-center justify-center">Activity</div>
  </div>
  

  <div class="list">
    <div
    class="row d-flex align-center pt-3 pb-3 pl-4 pr-4" *ngFor="let log of groupedLogs">
      <div style="width: 5%;">
        <span [class.visible]="isNew(log)" class="blue-dot"></span>
      </div>

      <div style="width: 20%;">
        {{ formatTimeOrDate(log.createdAt) }}
      </div>
      
      <div style="width: 25%;" *ngIf="level === 'organization'">
        <div class="d-flex align-center gap-2 justify-center">
          {{ log.client?.name || '-' }}
        </div>
      </div>
      
      <div  class="d-flex align-center justify-center">
        <div>
          <ng-container [ngSwitch]="log.action">
            <ng-container *ngSwitchCase="'report_sent'">
              <a [routerLink]="['/view-report', log.targetUuid]" class="text-primary">Report</a>
              has been sent
              <ng-container *ngIf="level === 'organization' && log.recipients?.length">
                to
                <ng-container *ngFor="let recipient of log.recipients; let i = index; let last = last">
                  <strong>{{ recipient }}</strong><span *ngIf="!last">, </span>
                </ng-container>
              </ng-container>
            </ng-container>
  
            <!-- todo: add clientUuid to the links -->
            <ng-container *ngSwitchCase="'report_generated'">
              <a [routerLink]="['/view-report', log.targetUuid]" class="text-primary">Report </a>
              has been generated
            </ng-container>
  
            <ng-container *ngSwitchCase="'created_schedule'">
              <a [routerLink]="['/edit-report', log.targetUuid]" class="text-primary">Schedule</a> created
            </ng-container>
  
            <ng-container *ngSwitchCase="'updated_schedule'">
              <a [routerLink]="['/edit-report', log.targetUuid]" class="text-primary">Schedule</a> updated
            </ng-container>
  
            <ng-container *ngSwitchCase="'paused_schedule'">
              <a [routerLink]="['/edit-report', log.targetUuid]" class="text-primary">Schedule</a> paused
            </ng-container>
  
            <ng-container *ngSwitchCase="'added_collaborator'">
              Collaborator added
            </ng-container>
  
            <ng-container *ngSwitchCase="'client_added'">
              Client added to the platform
            </ng-container>
  
            <ng-container *ngSwitchDefault>
              {{ log.message || 'Activity logged' }}
            </ng-container>
          </ng-container>
        </div>
        
      </div>
    </div>
  </div>
</div>
