<section class="landing-container communication-section">
  <div class="communication-section__content">
    <div class="communication-section__content-broken">
      <div class="communication-section__content-broken-text">
        <h2>
          Communication is <br />
          broken.
        </h2>
        <p>
          When clients don’t get consistent reports, <br />
          they question performance—and lose trust.
        </p>
      </div>
      <div class="communication-section__content-broken-image">
        <img
          src="assets/img/communication-broken.png"
          alt="communication-broken"
        />
      </div>
    </div>
    <div class="communication-section__content-direction">
      <img
        src="assets/icons/chevron-right.svg"
        alt="communication-direction"
        class="communication-section__content-direction-icon"
      />
    </div>
    <div class="communication-section__content-fixed">
      <div class="communication-section__content-fixed-text">
        <h2>Let’s fix it.</h2>
        <p>
          Regular updates build trust, increase renewals, <br />
          and boost agency profits.
        </p>
      </div>
      <div class="communication-section__content-fixed-image">
        <img
          src="assets/img/communication-fixed.png"
          alt="communication-fixed"
        />
      </div>
    </div>
  </div>
</section>
