:root {
    --main-background-color: #F1F1F1;
    // --main-background-color: #f8f9fa;
    // --main-background-color: #F4F4F4;
    // --main-background-color: #F4F4F4;
    
    --block-color: #fff;
    // --block-color: #fbf8f8;

    --text-color: #282828;

    --box-shadow: 0px 0px 2px #00000033;
}