<h1>Graphs</h1>

<div #adAccountsContainer>
@for (adAccount of adAccountsGraphs(); track adAccount.id) {

    @if (adAccount.enabled) {
        <div class="ad-account-item" [attr.data-adaccount-id]="adAccount.id">
            <div class="ad-account-header mb-2 mt-4 d-flex justify-between align-center">
              <h4 class="">{{ adAccount.name }}</h4>
              @if (!isViewMode()) {
                <metrics-actions-menu
                    [adAccounts]="adAccounts"
                    [sourceAdAccountId]="'' + adAccount.id"
                    (adAccountsChange)="adAccountsChange.emit($event)"
                ></metrics-actions-menu>
              }
            </div>

            <div class="graph-grid" #chartsGridContainer [attr.data-adaccount-id]="adAccount.id" [style.display]="isReorderingAdAccounts() ? 'none' : 'grid'">
                @for (graph of adAccount.graphs; track graph.metric) {
                    <div class="graph-card d-flex justify-center align-center"
                         [attr.data-graph-metric]="graph.metric"
                         [style.cursor]="isViewMode() ? 'auto' : 'grab'" >
                        <canvas [id]="'Chart-' + adAccount.id + '-' + graph.metric"></canvas>
                    </div>
                }
            </div>
        </div>
    }
    
}
</div>

