.section-title {
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  margin-bottom: 16px;
}
.graph-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.graph-card {
  background: #ffffff;
  padding: 8px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  border: var(--block-border);
  overflow: hidden; // 👈 prevent overflow
  display: flex;
  justify-content: center;
  align-items: center;
}


  .sortable-drag {
    opacity: 0.8;
    transform: scale(1.05);
    z-index: 1000;
  }

  .sortable-ghost {
    opacity: 0.3;
    background-color: #ccc;
    border: 2px dashed #999;
    transition: all 0.2s ease-in-out;
  }

  .sortable-drag {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: grabbing;
  }

canvas {
  width: 100% !important;
  height: auto !important;
}
