<div class="landing">
  <landing-hero-section></landing-hero-section>
  <landing-communication-section></landing-communication-section>

  <div class="heading-point-section">
    <heading-point-section
      titleLarge="All-in-one reporting tool"
      titleSmall="Ultimate reporting tool"
      subTitle="10x your client retention"
      description="No more spending hours on manual reports"
    ></heading-point-section>
  </div>

  <div class="delivery-sections">
    <automatic-delivery-section></automatic-delivery-section>
    <templates-delivery-section></templates-delivery-section>
  </div>
</div>
