<div class="landing">
  <landing-hero-section></landing-hero-section>
  <landing-communication-section></landing-communication-section>

  <div class="heading-point-section">
    <heading-point-section
      titleLarge="All-in-one reporting tool"
      titleSmall="Ultimate reporting tool"
      subTitle="10x your client retention"
      description="No more spending hours on manual reports"
    ></heading-point-section>
  </div>

  <div class="delivery-sections">
    <automatic-delivery-section></automatic-delivery-section>
    <templates-delivery-section></templates-delivery-section>
  </div>

  <div class="heading-point-section">
    <heading-point-section
      titleLarge="Us vs Them"
      titleSmall="Us vs Them"
      subTitle="Take advantage of all features"
      description="First on the market tool that allow you fully automate your reporting"
    ></heading-point-section>
    <features-table-section></features-table-section>
  </div>

  <free-demo-section></free-demo-section>

  <div class="landing-full-width">
    <features-section></features-section>
  </div>

  <agency-grow-section></agency-grow-section>

  <div class="landing-full-width">
    <landing-footer></landing-footer>
  </div>
</div>
