<div class="dialog-wrapper">
    <form 
    *ngIf="!isLinkSent"
    class="form-container  d-flex flex-column align-center justify-center gap-3" (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <h2>Forgot your password?</h2>
  
      <div class="input-group" [class.has-error]="submitted && emailError">
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          placeholder="✉️ Enter your email"
          class="show-errors text"
          required
          (input)="validateEmail()"
        />
        <div class="error-message" *ngIf="submitted && emailError">{{ emailError }}</div>
      </div>
  
      <button type="submit" class="blue">Send me the link</button>
  
      <div class="cursor-pointer" (click)="toggleSignInMode()">Already have an account? Sign in</div>
    </form>

    <div *ngIf="isLinkSent" class="d-flex flex-column align-center justify-center gap-3">
      <p>Recovery link sent.</p>
      <p>Check your email, please.</p>
    </div>
</div>
  