
  @if (kpis()) {
    <h1>KPIs</h1>

    <div #adAccountsContainer>
      @for (adAccount of adAccounts(); track adAccount.id) {

        @if (adAccount.enabled) {
          <div class="ad-account-item" [attr.data-adaccount-id]="adAccount.id">
            <h4 class="mb-2 mt-4">{{ adAccount.name }}</h4>

            <div class="kpi-grid-container" #kpiGridContainer [attr.data-adaccount-id]="adAccount.id" [style.display]="isReorderingAdAccounts() ? 'none' : 'grid'">
              @for (metric of adAccount.metrics; track metric.name) {

                <div class="kpi-card"
                [attr.data-metric-name]="metric.name"
                [class.disabled]="!metric.enabled"
                [style.display]="metric.enabled ? 'block' : 'none'"
                [style.cursor]="isViewMode() ? 'auto' : 'grab'"
                >
                  <div class="kpi-label">{{ metricsService.formatMetricLabel(metric.name) }}</div>
                  <div class="kpi-value">
                    {{ metricsService.formatMetricValue(metric.name, kpis()[metric.name]) }}
                  </div>
                </div>
          
              }
            </div>
          </div>
        }
        
        
      }
    </div>

  }


