
  @if (kpis()) {

    @for (adAccount of adAccounts(); track adAccount.id) {

      @if (adAccount.enabled) {
        <h4 class="mb-2 mt-4">{{ adAccount.name }}</h4>

        <div class="kpi-grid-container" #kpiGridContainer>
          @for (metric of adAccount.metrics; track metric.name) {

            <div class="kpi-card"
            [style.display]="metric.enabled ? 'block' : 'none'"
            [style.cursor]="isViewMode() ? 'auto' : 'grab'"
            >
              <div class="kpi-label">{{ metricsService.formatMetricLabel(metric.name) }}</div>
              <div class="kpi-value">
                {{ metricsService.formatMetricValue(metric.name, kpis()[metric.name]) }}
              </div>
            </div>
      
          }
        </div>
      }
      
      
    }

  }

<!-- </div> -->


