<ng-container *ngIf="!isLink; else linkTemplate">
  <button
    [type]="type"
    [class]="buttonClasses"
    [disabled]="disabled || loading"
    (click)="onClick()"
  >
    <!-- Loading spinner -->
    <div *ngIf="loading" class="btn__spinner">
      <div class="spinner"></div>
    </div>

    <!-- Left Icon -->
    <fa-icon
      *ngIf="icon && iconPosition === 'left' && !loading"
      [icon]="icon"
      class="btn__icon btn__icon--left"
      [ngClass]="{
        'btn__icon--dark': iconVariant === 'dark',
        'btn__icon--light': iconVariant === 'light'
      }"
    ></fa-icon>

    <!-- Projected content -->
    <ng-container *ngTemplateOutlet="projected"></ng-container>

    <!-- Right Icon -->
    <fa-icon
      *ngIf="icon && iconPosition === 'right' && !loading"
      [icon]="icon"
      class="btn__icon btn__icon--right"
      [ngClass]="{
        'btn__icon--dark': iconVariant === 'dark',
        'btn__icon--light': iconVariant === 'light'
      }"
    ></fa-icon>
  </button>
</ng-container>

<ng-template #linkTemplate>
  <a
    [routerLink]="link"
    [target]="target"
    [class]="buttonClasses"
    [class.btn--disabled]="disabled"
    [class.btn--loading]="loading"
    (click)="onClick()"
  >
    <!-- Loading spinner -->
    <div *ngIf="loading" class="btn__spinner">
      <div class="spinner"></div>
    </div>

    <!-- Left Icon -->
    <fa-icon
      *ngIf="icon && iconPosition === 'left' && !loading"
      [icon]="icon"
      class="btn__icon btn__icon--left"
      [ngClass]="{
        'btn__icon--dark': iconVariant === 'dark',
        'btn__icon--light': iconVariant === 'light'
      }"
    ></fa-icon>

    <!-- Projected content -->
    <ng-container *ngTemplateOutlet="projected"></ng-container>

    <!-- Right Icon -->
    <fa-icon
      *ngIf="icon && iconPosition === 'right' && !loading"
      [icon]="icon"
      class="btn__icon btn__icon--right"
      [ngClass]="{
        'btn__icon--dark': iconVariant === 'dark',
        'btn__icon--light': iconVariant === 'light'
      }"
    ></fa-icon>
  </a>
</ng-template>

<!-- Single definition for projected content -->
<ng-template #projected>
  <ng-content></ng-content>
</ng-template>
