:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

html, body {
  overflow: hidden !important;
  height: 100%;
  margin: 0;
  padding: 0;
}

// Custom scrollbar styles
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f9fafb;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #f9fafb;
  border-radius: 4px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #f9fafb;
}

// Firefox scrollbar styles
* {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 #f9fafb;
}

.report-header {
  padding: 14px 5%;
  background: var(--block-color);
  box-shadow: 0 4px 6px rgba(67, 46, 134, 0.04);
  border-bottom: 1px solid rgba(128, 128, 128, 0.2392156863);
}

.report-container {
  background-color: #f9fafb; 
  overflow-y: auto; 
  height: calc(100vh - 16px - 16px - 16px - 16px - 16px - 16px);
}