<div class="block" style="height: 100%;">
  <div class="title d-flex align-center justify-between pl-4 pt-4 pr-4 pb-3">
    <h3>Generated Reports</h3>
    <div class="header-buttons">
      <marklie-button variant="primary" (clicked)="openShareModal()">
        Share reports
      </marklie-button>
      <marklie-button variant="secondary" (clicked)="openReportsDatabase()">
        See all reports
      </marklie-button>
    </div>
  </div>

  <div class="table">
    <div class="header d-flex align-center d-flex pb-3 pl-4 pr-4">
      <div style="width: 30%;">Time</div>
      <div style="width: 50%;">Report name</div>
      <div style="width: 20%;" class="d-flex align-center justify-center">Action</div>
    </div>

    <div class="list">
      @if (reportsToRender.length === 0) {
        <div class="row d-flex align-center pt-3 pb-3 pl-4 pr-4" style="justify-content: center; color: #888;">
          Your generated reports will appear here
        </div>
      } @else {
        @for (item of reportsToRender; track item.uuid) {
          <div class="row d-flex align-center pt-3 pb-3 pl-4 pr-4">
            <div style="width: 30%;">{{ formatTimeOrDate(item.createdAt) }}</div>
            <div style="width: 50%;">{{ item.reportName }}</div>
            <div style="width: 20%;" class="d-flex align-center justify-center cursor-pointer" (click)="openReport(item.uuid)">
              Open
              <!-- <button (click)="openReport(item.uuid)">Open</button> -->
              
              <!-- <button class="blue" (click)="openReport(item.uuid)">Open</button> -->
            </div>
          </div>
        }
      }
    </div>
  </div>
</div> 