<modal-base>
    <!-- <h3>Add client</h3> -->

    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
        <div class="form-group mt-3">
          <label for="name">Client Name</label>
          <input 
            type="text" 
            id="name" 
            formControlName="name" 
            class="form-control" 
            placeholder="Enter client name"
            class="text">
        </div>
  
        <div class="form-group">
          <label for="name">Ad Accounts</label>
          
          <ad-accounts-settings
          [(facebookAdAccounts)]="facebookAdAccounts"
          ></ad-accounts-settings>
          
        </div>

        <label for="name">Communications Settings</label>
        <communications-settings
        [slackConversationId]="''"
        [clientUuid]="''"
        [(clientEmails)]="emails"
        [(clientPhoneNumbers)]="phoneNumbers"
        ></communications-settings>
  
        <div class="modal-actions">
          <button type="button" (click)="dialogRef.close()">Cancel</button>
          <button type="submit" [disabled]="!clientForm.valid">Add Client</button>
        </div>
      </form>
</modal-base>

