<section class="agency-grow-section">
  <div class="agency-grow-section__content">
    <div class="agency-grow-section__logo">
      <img src="assets/img/logo.png" alt="marklie-logo" />
      <h2>Marklie</h2>
    </div>

    <div class="agency-grow-section__heading">
      <h2>
        Drive agency growth with <br />
        smart reporting
      </h2>
      <p>
        Streamline reporting, boost retention, and <br />
        grow faster with Marklie.
      </p>
    </div>

    <div class="agency-grow-section__button">
      <app-button
        [icon]="faArrowRight"
        iconPosition="right"
        size="large"
        iconVariant="light"
        link="/auth"
        variant="secondary"
      >
        Start Free Trial
      </app-button>
    </div>

    <img
      src="assets/img/grow-agency.png"
      alt="agency-grow"
      class="agency-grow-section__image"
    />
  </div>
</section>
