<h1>Ads</h1>

<div #adAccountsContainer>
@for (adAccount of adAccounts(); track adAccount.id) {
  @if (adAccount.enabled) {
    <div class="ad-account-item" [attr.data-adaccount-id]="adAccount.id">
      <h4 class="mb-2 mt-4">{{ adAccount.name }}</h4>

      <div class="ad-grid" >
        
        <div class="ad-card" *ngFor="let creative of (adAccount.creativesData || []); let i = index">
          <div class="ad-image-container cursor-pointer " (click)="openAd(creative.sourceUrl)">
            <img class="ad-media" [src]="creative.thumbnailUrl || '../../../assets/img/2025-03-19%2013.02.21.jpg'"/>
          </div>
          <div class="metrics" #adsGridContainer [attr.data-ad-account-id]="adAccount.id">
            <div class="metric">
              <div class="metric-label">{{ metricsService.formatMetricLabel('ad_name') }}</div>
              <div class="metric-value">{{ creative.ad_name }}</div>
            </div>
            @for (point of (creative.data || []); track point.name) {
              <div class="metric" [attr.data-metric-name]="point.name">
                <div class="metric-label">{{ metricsService.formatMetricLabel(point.name) }}</div>
                <div class="metric-value">{{ metricsService.formatMetricValue(point.name, point.value) }}</div>
              </div>
            }
          </div>
        </div>
      
      </div>
    </div>
  }
  
}
</div>

