<div class="ad-grid">
  <div class="ad-card" *ngFor="let ad of ads">
    <div class="ad-image-container">
      <img class="ad-media" [src]="ad.thumbnailUrl"/>
    </div>
    <div class="metrics">
      <ng-container *ngFor="let key of metrics">
        <div class="metric" *ngIf="metricSelections?.ads?.[key]">
          <div class="metric-label">{{ metricsService.formatMetricLabel(key) }}</div>
          <div class="metric-value">
            {{ad[key]}}
          </div>
        </div>
      </ng-container>
    </div>
    <button (click)="openAd(ad.sourceUrl)" class="width-100">View Ad</button>
  </div>
</div>
