<section class="landing-container automatic-delivery-section">
  <img
    src="assets/img/automatic-delivery.png"
    alt="automatic delivery"
    class="automatic-delivery-section__image"
  />

  <div class="automatic-delivery-section__content">
    <div class="automatic-delivery-section__content__tags">
      <app-info-tag size="small" text="WhatsApp"></app-info-tag>
      <app-info-tag size="small" text="Slack"></app-info-tag>
      <app-info-tag size="small" text="Email"></app-info-tag>
    </div>
    <heading-with-button
      title="Reach clients where they are"
      description="<span class='highlight'>Deliver performance updates directly to your clients, </span><br/> whether it's a group chat, a team channel, or their inbox."
      buttonText="Try for free"
      buttonLink="/automatic-delivery"
    ></heading-with-button>
  </div>
</section>
