<div class="d-flex flex-column gap-3 mt-4">
    <div class="d-flex flex-column gap-2">
		<div>
			<div class="accordion-header p-3">
				<img src="../../../assets/img/icons/whatsapp_colorful.svg" alt="WhatsApp Icon" class="whatsapp-icon">
				WhatsApp
			</div>
			<div class="accordion-content show">
				<label for="whatsapp">Message</label>
				<textarea type="text" class="text mt-2" [ngModel]="messages.whatsapp" (ngModelChange)="onWhatsappChange($event)" id="whatsapp"></textarea>
				<!-- <whatsapp-message-preview [message]="messages.whatsapp"></whatsapp-message-preview> -->
			</div>
		</div>

		<hr>

		<div>
			<div class="accordion-header p-3">
				<img src="../../../assets/img/icons/slack_colorful.svg" alt="Slack Icon" class="whatsapp-icon">
				Slack
			</div>
			<div class="accordion-content show">
				<label for="slack">Slack</label>
				<textarea type="text" class="text mt-2" [ngModel]="messages.slack" (ngModelChange)="onSlackChange($event)" id="slack"></textarea>
			</div>
		</div>

		<hr>

		<div>
			<div class="accordion-header p-3">
				<img src="../../../assets/img/icons/gmail_colorful.svg" alt="WhatsApp Icon" class="whatsapp-icon">
				Email
			</div>
			<div class="accordion-content show">
				<label for="title">Title</label>
				<textarea type="text" class="text mt-2" [ngModel]="messages.email.title" (ngModelChange)="onEmailTitleChange($event)" id="title"></textarea>
				<label for="body">Body</label>
				<textarea type="text" class="text mt-2" [ngModel]="messages.email.body" (ngModelChange)="onEmailBodyChange($event)" id="body"></textarea>
			</div>
		</div>
	</div>
</div> 