<div class="container d-flex justify-center align-center" 
style="height: 100vh;">
    <form 
    class="form-container p-5 block d-flex flex-column align-center justify-center gap-3"
    (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <h2>Create a new password!</h2>
    
        <div class="input-group password-wrapper" [class.has-error]="submitted && passwordError">
            <input
              [type]="showPassword ? 'text' : 'password'"
              id="password"
              name="password"
              [(ngModel)]="password"
              placeholder="🔒 Enter password"
              class="show-errors text"
              required
              (input)="validatePassword()"
            />
            <div class="toggle-password" (click)="showPassword = !showPassword">
              <fa-icon [icon]="showPassword ? faEyeSlash : faEye"></fa-icon>
            </div>
            <div class="error-message" *ngIf="submitted && passwordError">{{ passwordError }}</div>
        </div>
    
        <div class="input-group password-wrapper" [class.has-error]="submitted && passwordConfirmationError">
          <input
            [type]="showPasswordConfirmation ? 'text' : 'password'"
            id="passwordConfirmation"
            name="passwordConfirmation"
            [(ngModel)]="passwordConfirmation"
            placeholder="🔒 Confirm password"
            class="show-errors text"
            required
            (input)="validatePassword()"
          />
          <div class="toggle-password" (click)="showPasswordConfirmation = !showPasswordConfirmation">
            <fa-icon [icon]="showPasswordConfirmation ? faEyeSlash : faEye"></fa-icon>
          </div>
          <div class="error-message" *ngIf="submitted && passwordConfirmationError">{{ passwordConfirmationError }}</div>
        </div>

        <div class="form-error" *ngIf="formError">
            {{ formError }}
        </div>
    
        <button type="submit" class="blue">Create password</button>
    
        <!-- <div class="toggle-mode" (click)="toggleSignInMode()">Already have an account? Sign in</div> -->
    </form>
</div>