:host {
  min-height: 100vh;
  overflow-y: hidden;
}

.connect-facebook {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets/img/dashboard_no_fb_background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.table {
  
  .header {
    font-size: 13px;
    font-weight: 500;
  }
  
  .row {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2392156863);
  }
  .header {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2392156863);
  }

  .row {
    cursor: pointer;
    font-size: 14px;
  }
}

.dashboard-container {
  display: grid; 
  grid-template-columns: 59% 39%; 
  gap: 2%;
  height: 100%;

  .title {
    min-height: 40px;
  }
}