<modal-base>
    
  <div class="d-flex justify-between">
    <h3>Client Settings</h3>
    <div class="mb-4 d-flex flex-column gap-2">
      <!-- <label for="name">Client Name</label> -->
      <input 
        type="text" 
        id="name" 
        [value]="clientName"
        [(ngModel)]="clientName"
        class="mt-3" 
        placeholder="Enter client name"
        class="text"
        >
    </div>
  </div>

  <div class="tabs d-flex gap-3 mb-3">
    <div class="pb-1" [class.selected]="activeTab === 'comm_channels'" (click)="selectTab('comm_channels')">Communication settings</div>
    <div class="pb-1" [class.selected]="activeTab === 'ad_platform'" (click)="selectTab('ad_platform')">Ad accounts</div>
  </div>

  <div>
    <!-- Instantiate comm settings immediately (default tab), and keep it mounted -->
    <ng-container *ngIf="isCommTabLoaded">
      <div [hidden]="activeTab !== 'comm_channels'">
        <communications-settings
          [slackConversationId]="data.client.slackConversationId!"
          [clientUuid]="data.client.uuid"
          [(clientEmails)]="emails"
          [(clientPhoneNumbers)]="phoneNumbers"
        ></communications-settings>
      </div>
    </ng-container>

    <!-- Instantiate ad accounts only once when first opened, then keep it mounted -->
    <ng-container *ngIf="isAdTabLoaded">
      <div [hidden]="activeTab !== 'ad_platform'">
        <ad-accounts-settings
          [(facebookAdAccounts)]="facebookAdAccounts"
        ></ad-accounts-settings>
      </div>
    </ng-container>
  </div>

    <div class="modal-actions mt-4 d-flex flex-row justify-between">
      <button (click)="dialogRef.close()">Cancel</button>
      <button class="blue" (click)="saveChanges()">Save</button>
  </div>

</modal-base>